* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  /* text-align: center; */
  min-height: 100vh;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFF;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.section {
  padding: 35px 25px;
}

.hero-img {
  margin: auto;
}

.hero_intro {
  margin: 40px 0;
}

.hero_title {
  /* font-family: Poppins; */
  font-size: 36px;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 40px;
  /* letter-spacing: 0em; */
  /* text-align: left; */
}

.hero_text {
  margin: 20px 0;
  max-width: 340px;
  

/* font-family: 'Poppins'; */
/* font-style: normal; */
font-weight: 300;
font-size: 16px;
line-height: 110%;
/* or 18px */


color: #222222;
}

.card-container {
  display: flex;
  align-items: stretch;
  gap: 20px;
}
